name: Docker Image CI

on:
  push:
    branches:
      - "main"
      - "stable"
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to the GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ghcr.io/${{ github.repository_owner }}/oi-bot
        tags: |
          # For pushes to the main branch, use 'latest' tag
          type=raw,value=latest,enable={{is_default_branch}}
          # For pushes to any other branch (e.g., stable), use the branch name as the tag
          type=ref,event=branch
          # For pull requests, use 'pr-' followed by the PR number
          type=ref,event=pr

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
